@import "common/comment";
@import "common/top-footer";
body{
    background:#f2f2f2;
}
.top-bar-color{
    background: #f2f2f2;
}
.logo-body{
    background: #fff;
    height:120px;
    .logo-body-con{
        width:1200px;
         margin: 0 auto;
        h2{
            float:left;
            margin:32px 30px 0 32px;
        }
        span{
            font-size: 18px;
            color: $color;
            padding:24px 15px 10px 25px;
            border-left: 1px solid #e2e2e2;
            display: inline-block;
            margin-top:32px;
        }
        p{
            float:right;
            margin-top:56px;
            font-size: 16px;
            a{
                color:$color;
                
            }
        }
    }
}
/*---------------------login--------------------*/
.login{
    width:1200px;
    height:600px;
    margin: 0 auto;
    .login-left{
        float:left;
        width: 680px;
        height:465px;
        margin-top:85px;
        background: url(../img/login/login1.jpg) no-repeat;
    }
}
.login-right{
    float:right;
    width:420px;
    height:399px;
    background: #fff;
    padding:0 40px 40px 40px;
    margin:90px 45px 0 0;
    text-align: center;
    h1{
        margin:36px 0 26px 0;
        font-size: 20px;
        font-weight: 500;
    }
    p{
        left:340px;
        height:65px;
        text-align: left;
       line-height:64px;
        a{
           
            float: right;
        }
    }
    button{
        width:340px;
        height:42px;
        background: #8FC31F;
        border-radius:3px;
        color:#fff;
        border:none;
        font-size: 18px;
        margin-bottom:16px;
        &:hover{
            background: #6F9718;
        }
        
    }
    .btn2{
        background: #f1f1f1;
        border: 1px solid rgb(204, 204, 204);
        color:#333;
         &:hover{
            background: #d8d8d8;
        }
    }
}
.login-Form{
    width:340px;
    height:44px;
    margin-top:16px;
    span{
        float: left;
        width: 51px;
        height:44px;
        font-size: 18px;
        color:rgb(85, 85, 85);
        background: #eee;
        line-height: 44px;
        border: 1px solid rgb(226, 226, 226);
        border-right:none;
        top:0px;
    }
    input{
        float:left;
        width:287px;
        height:44px;
        padding:8px 16px;
        border:1px solid rgb(226, 226, 226);
       box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
        &:focus {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.075);
        }
    }
    
}
/*---------------------reister--------------------*/
.register{
    width:1200px;
    height:555px;
    background: #fff;
    margin: 32px auto;
    .register-right{
        float:right;
        width:580px;
        height:531px;
        margin:70px 0 0 0;
        background: url(../img/login/register.jpg) no-repeat;
    }
    .register-left{
        padding-top:44px;
        float:left;
        label{
            margin-bottom:15px;
            display: block;
            font-size: 14px;
            text-align: right;
            width:600px;
            font-weight: normal;
            position:relative;
            span{
                color:rgb(245, 103, 93);
                display: inline-block;
            }
            input{
                width: 337px;
                height:38px;
                padding:8px 12px;
                margin:0 110px 0 15px;
                border:1px solid rgb(226, 226, 226);
                box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
             &:focus {
                 box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
                }
            }
            .eye{
                position: absolute;
                width: 36px;
                height:36px;
                top:0;
                right:112px;
                background: url(../img/login/password_icon2.png) no-repeat;
            }
            .inp-two{
                width:215px;
                margin-right:0 ;
               
            }
            .img-div{
                width:117px;
                margin-left:5px;
                height:38px;
                float: right;
                margin-right:110px;
                img{
                    height:38px;
                    width:117px;    
                }
            }
            .text-div{
                background: #f1f1f1;
                border: 1px solid rgb(204, 204, 204);
                text-align: center;
                line-height: 38px;
                &:hover{
                   background: #d8d8d8;
                }
            }
            button{
                    color: #fff;
                    background-color: #8FC31F;
                    border: none;
                    width: 335px;
                    height: 36px;
                    margin-right:110px;
                    &:hover{
                        border-color: #3e550e;
                        background-color: #587813;
                    }
            }
        }
        .inp-check{
            height:20px;
            line-height: 20px;
            input{
                font-size: 12px;
                height:13px;
                width:13px;
                border: none;
                
                margin-right:10px;
            }
            a{
                color: $color;
               margin-right:160px;
            }
        }
    }
}
